<app-modal
  *ngIf="showDeleteContactModal"
  [bodyText]="'common.confirm_contact_deletion' | translate"
  [title]="'common.delete' | translate"
  [cancelButtonText]="'common.cancel' | translate"
  [acceptButtonText]="'common.delete' | translate"
  (acceptModalAction)="deleteContact($event)"
  (declineModalAction)="showDeleteContactModal = false"
>
</app-modal>

<app-modal
  *ngIf="showLeaveWithoutSavingModal"
  [bodyText]="'contact_new_edit.leave_without_saving' | translate"
  [title]="'contact_new_edit.leave' | translate"
  [cancelButtonText]="'common.yes' | translate"
  [acceptButtonText]="'common.no' | translate"
  (acceptModalAction)="leaveWithoutSaving()"
  (declineModalAction)="showLeaveWithoutSavingModal = false"
>
</app-modal>

<form
  *ngIf="contactForm"
  [formGroup]="contactForm"
  #f="ngForm"
  [ngClass]="{ 'invalid-form': invalidForm }"
>
  <div class="big-wrapper">
    <div class="sm-icons-wrapper">
      <a (click)="checkFormInputs()">
        <img src="../../../assets/images/icons/arrow_back.svg" />
      </a>

      <img
        class="delete-contact"
        *ngIf="contact"
        (click)="showDeleteContactModal = true"
        src="../../../assets/images/icons/delete.svg"
      />
    </div>

    <div class="image-wrapper">
      <input
        type="file"
        (change)="previewHeaderImage($event)"
        accept="image/x-png,image/gif,image/jpeg"
        #headerImageInput
      />

      <img
        *ngIf="!headerImageLocalPath"
        class="header-image-placeholder"
        [ngClass]="{ 'header-image-missing': headerImageMissing }"
      />

      <img
        class="upload-delete-header-image"
        *ngIf="!headerImageLocalPath"
        (click)="headerImageInput.click()"
        src="../../../assets/images/icons/upload.svg"
      />

      <img
        *ngIf="headerImageLocalPath"
        class="header-image"
        [src]="headerImageLocalPath"
      />

      <img
        class="upload-delete-header-image"
        *ngIf="headerImageLocalPath"
        (click)="headerImageInput.value = ''; headerImageLocalPath = null"
        src="../../../assets/images/icons/remove.svg"
      />
    </div>

    <div class="data-wrapper">
      <div class="name-icons-wrapper">
        <a (click)="checkFormInputs()">
          <img src="../../../assets/images/icons/arrow_back.svg" />
        </a>
        <img
          class="delete-contact"
          *ngIf="contact"
          (click)="showDeleteContactModal = true"
          src="../../../assets/images/icons/delete.svg"
        />
      </div>

      <div class="form-input-wrapper">
        <p>
          <span> <img src="../../../assets/images/icons/person.svg"/></span>
          {{ "contact_new_edit.full_name" | translate }}
        </p>

        <input
          class="single-input"
          type="text"
          formControlName="name"
          placeholder="{{ 'contact_new_edit.name' | translate }}"
        />
      </div>

      <div class="form-input-wrapper">
        <p>
          <span> <img src="../../../assets/images/icons/email.svg"/></span>
          {{ "contact_new_edit.email" | translate }}
        </p>

        <input
          class="single-input"
          type="text"
          placeholder="{{ 'contact_new_edit.email' | translate }}"
          formControlName="email"
        />
      </div>

      <div class="form-input-wrapper">
        <p>
          <span> <img src="../../../assets/images/icons/phone.svg"/></span>
          {{ "contact_new_edit.numbers" | translate }}
        </p>

        <ng-container formArrayName="phoneArray">
          <ng-container
            *ngFor="
              let phoneControls of contactForm.get('phoneArray').controls;
              let i = index
            "
          >
            <div [formGroupName]="i" class="number-input-wrapper-box">
              <input
                formControlName="number"
                class="single-input"
                type="text"
                placeholder="{{ 'contact_new_edit.number' | translate }}"
              />

              <div>
                <input
                  formControlName="type"
                  type="text"
                  placeholder="{{ 'contact_new_edit.type' | translate }}"
                />
                <button type="button" (click)="removeNumber(i)">x</button>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </div>

      <div class="add-number">
        <button type="button" (click)="addNumber()">
          <img src="../../../assets/images/icons/add.svg" />
        </button>
        <span>{{ "contact_new_edit.add_number" | translate }}</span>
      </div>

      <div class="positive-negative-buttons">
        <button type="button" (click)="checkFormInputs()">
          {{ "common.cancel" | translate }}
        </button>
        <button type="button" (click)="submit()">
          {{ "common.save" | translate }}
        </button>
      </div>
    </div>
  </div>
</form>
