@import "../../../../src/scss/variables.scss";

@mixin add-delete-number-button {
  background-color: $white;
  padding: 0.5em;
  border-radius: 100%;
  width: 36px;
  height: 36px;

  &:hover {
    cursor: pointer;
  }
}

#big-wrapper {
  @media (min-width: $sm) {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-content: center;
  }
}

.image-wrapper {
  position: relative;
  height: 150px;

  @media (max-width: $md) {
    display: grid;
    margin-top: 1em;
    justify-content: center;
  }

  @media (min-width: $md) {
    height: 180px;
  }

  #header-image {
    border: 3px solid rgba(187, 196, 195, 0.3);
    border-radius: 100%;
    object-fit: cover;
    box-sizing: border-box;
    width: 150px;
    height: 150px;

    @media (min-width: $md) {
      width: 180px;
      height: 180px;
    }
  }

  input {
    display: none;
  }

  .header-image-placeholder {
    background-color: rgba(45, 161, 173, 0.4);
  }

  .upload-delete-header-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &:hover {
      cursor: pointer;
    }
  }

  .header-image-missing {
    background-color: $red;
  }
}

.form-input-wrapper {
  padding: 1.5em 0;

  p {
    color: $green_2;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;

    span {
      margin-right: 10px;
    }
  }

  input[type="text"] {
    margin-top: 1em;
    border: 1px solid $grey_3;
    border-radius: 4px;
    opacity: 0.4;
    padding-left: 30px;
    margin-right: 1em;
    box-sizing: border-box;

    .invalid-form &.ng-invalid {
      background: rgba($red, 0.05);
      box-shadow: inset 0 0 0 2px $red;
    }

    &:focus{
      outline: none;
      border: 1px solid $green_2;
    }
  
  }

  .single-input {
    width: 100%;
    @media (min-width: $md) {
      width: 325px;
    }
    height: 60px;
  }

  .number-input-wrapper-box {
    div {
      display: inline-block;
      input[type="text"] {
        width: 200px;
        @media (min-width: $xs) {
          width: 240px;
        }
        height: 60px;

        @media (max-width: 1360px) {
          margin: 1em 0;
        }
      }

      button {
        @include add-delete-number-button();
        border: 1px solid $grey_3;
        color: $grey_3;

        @media (max-width: 1360px) {
          margin: 1em;
        }
      }
    }
  }
}

#data-wrapper {
  grid-column: 2/7;
  padding: 0 25px;
  display: inherit;
  grid-template-rows: 90px auto;

  @media (max-width: $sm) {
    .form-input-wrapper:nth-child(2) {
      border-top: 1px solid $green_2;
      margin-top: 1em;
    }
  }

  .form-input-wrapper:not(:nth-child(4)) {
    border-bottom: 1px solid $green_2;
  }
}



#add-number {
  button {
    @include add-delete-number-button();
    border: 1px solid $green_2;
    color: $green_2;
  }

  span{
    color: $green_2;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    margin-left: 10px;
  }
}
