@import "../../../../src/scss/variables.scss";

@mixin header-image-mixin {
  border: 3px solid rgba(187, 196, 195, 0.3);
  border-radius: 100%;
  object-fit: cover;
  box-sizing: border-box;
}

@mixin email-mixin {
  text-decoration: none;
  color: $grey_3;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;

  &:hover {
    color: $green_2;
  }
}

@mixin numbers-wrapper-mixin {
  grid-column: 2/5;

  div.number-wrapper:not(:nth-child(1)) {
    margin-top: 1em;
  }

  .number-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    p {
      grid-column: 1/2;
      color: $grey_3;
      font-size: 14px;
      font-weight: 700;
      line-height: 17px;
      text-transform: uppercase;
    }
  }
}

section,
form {
  width: 100%;
  @media (min-width: $md) {
    width: 90%;
  }

  @media (min-width: $lg) {
    width: 860px;
  }

  margin: 0px auto;
  padding-top: 2em;
}

////////// SM /////////
.sm {
  @media (min-width: $sm) {
    display: none;
  }
}

.sm-icons-wrapper {
  @media (min-width: $sm) {
    display: none;
  }

  border-bottom: 1px solid $grey_3;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  padding-bottom: 1em;
  justify-items: center;

  :nth-child(1) {
    grid-column: 1/1;
  }

  .heart {
    grid-column: 7/8;
  }

  a,
  .delete-contact {
    grid-column: 8/9;
  }
}

.sm-data-wrapper {
  padding: 1em;
  .sm-header-image-name {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    padding-bottom: 1em;
    border-bottom: 1px solid $green_2;

    img {
      grid-column: 1/2;
      @include header-image-mixin();
      width: 50px;
      height: 50px;
    }

    p {
      grid-column: 2/6;
      color: $grey_3;
      font-size: 21px;
      font-weight: 700;
      line-height: 28px;
      width: 183px;
      text-align: left;
    }
  }
}

.sm-email-numbers-wrapper {
  padding: 1em 2em;

  :nth-child(1) {
    color: $green_2;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    margin-bottom: 1em;
  }

  .email {
    margin-left: 20px;
    @include email-mixin();
  }

  .sm-numbers-wrapper {
    margin-left: 20px;
    @include numbers-wrapper-mixin();
  }
}

////////// LG /////////
.lg {
  @media (max-width: $sm) {
    display: none;
  }

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-content: center;
}

.lg-header-image {
  @include header-image-mixin();
  grid-column: 1/2;
  width: 180px;
  height: 180px;
}

.lg-data-wrapper {
  grid-column: 2/7;
  padding: 0 2em;
  display: inherit;
  grid-template-rows: repeat(2, 1fr);
  grid-template-rows: 90px auto;
}

.name-icons-wrapper {
  @media (max-width: $sm) {
    display: none;
  }

  grid-row: 1/1;
  border-bottom: 1px solid #2da1ad;
  display: inherit;
  grid-template-columns: repeat(10, 1fr);
  align-items: center;

  :nth-child(1) {
    grid-column: 1/1;
    padding-left: 4px;
    img {
      height: 16px;
      margin-bottom: 2px;
    }

    &:hover {
      cursor: pointer;
    }
  }

  p {
    grid-column: 2/9;
    justify-self: left;
    color: $grey_3;
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
  }

  .heart {
    grid-column: 9/10;
  }
  .edit,
  .delete-contact {
    grid-column: 10/11;
  }

  .heart,
  .edit,
  .delete-contact {
    justify-self: right;
  }
}

.lg-email-numbers-wrapper {
  margin-top: 2em;
  width: 80%;
  justify-self: center;
  display: inherit;
  grid-template-columns: repeat(4, 1fr);

  :nth-child(1) {
    grid-column: 1/2;
    color: $green_2;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;

    span {
      margin-right: 0.5em;
    }
  }

  .email {
    grid-column: 2/5;
    @include email-mixin();
  }
}

.lg-numbers-wrapper {
  @include numbers-wrapper-mixin();
}

.number {
  color: $grey_3;
  grid-column: 2/4;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: underline;

  &:hover {
    color: $green_2;
  }
}
