<app-modal
  *ngIf="deleteContactId"
  [bodyText]="'common.confirm_contact_deletion' | translate"
  [title]="'common.delete' | translate"
  [cancelButtonText]="'common.cancel' | translate"
  [acceptButtonText]="'common.delete' | translate"
  (acceptModalAction)="deleteContact($event)"
  (declineModalAction)="deleteContactId = undefined"
>
</app-modal>

<ng-container *ngIf="isDataAvailable">
  <div class="contact-type-wrapper">
    <p [ngClass]="{ selected: allContacts }" (click)="switchContactType(true)">
      {{ "contact_list.all_contacts" | translate }}
    </p>
    <span>|</span>
    <p
      [ngClass]="{ selected: !allContacts }"
      (click)="switchContactType(false)"
    >
      {{ "contact_list.my_favorites" | translate }}
    </p>
  </div>

  <div class="search-wrapper">
    <input
      type="text"
      [(ngModel)]="searchContactsBy"
      (ngModelChange)="filterContacts(searchContactsBy)"
    />
  </div>

  <p *ngIf="contactsCopy.length === 0" class="no-contacts">
    <span *ngIf="searchContactsBy">
      {{ "contact_list.no_results_for" | translate }} "{{
        searchContactsBy
      }}"</span
    >
    <span *ngIf="!searchContactsBy">{{
      "contact_list.no_contacts" | translate
    }}</span>
  </p>

  <div class="contacts-wrapper">
    <div *ngIf="allContacts" class="contacts-wrapper__add-contact">
      <a [routerLink]="['new']">
        <img src="../../../assets/images/icons/add.svg" />
        <p>{{ "contact_list.add_new" | translate }}</p>
      </a>
    </div>

    <div class="contacts-wrapper__contact" *ngFor="let contact of contactsCopy">
      <div class="contacts-wrapper__contact__icons-wrapper">
        <img
          *ngIf="!contact.favorite"
          src="../../../assets/images/icons/heart_empty.svg"
          (click)="markAsFavorite(contact.id, true)"
        />
        <img
          *ngIf="contact.favorite"
          src="../../../assets/images/icons/heart_full.svg"
          (click)="markAsFavorite(contact.id, false)"
        />
        <a class="edit" [routerLink]="['edit/' + contact.id]">
          <img src="../../../assets/images/icons/edit.svg" />
        </a>
        <img
          src="../../../assets/images/icons/delete.svg"
          (click)="deleteContactId = contact.id"
        />
      </div>

      <a class="contacts-wrapper__contact__image-name" [routerLink]="['detail/' + contact.id]">
        <img [src]="contact.headerImage" />
        <p>{{ contact.name }}</p>
      </a>
    </div>
  </div>
</ng-container>
