<app-modal
  *ngIf="deleteContactId"
  [bodyText]="'Are you sure you want to delete this contact?'"
  [title]="'Delete'"
  [cancelButtonText]="'No'"
  [acceptButtonText]="'Yes'"
  (acceptModalAction)="deleteContact($event)"
  (declineModalAction)="deleteContactId = undefined"
>
</app-modal>

<ng-container *ngIf="isDataAvailable">
  <div id="contact-type-wrapper">
    <p [ngClass]="{ selected: allContacts }" (click)="switchContactType(true)">
      All contacts
    </p>
    <span>|</span>
    <p
      [ngClass]="{ selected: !allContacts }"
      (click)="switchContactType(false)"
    >
      My favorites
    </p>
  </div>

  <div id="search-wrapper">
    <input type="text" />
  </div>

  <div id="contacts-wrapper">
    <div *ngIf="allContacts" id="add-contact">
      <a [routerLink]="['new']">
        <img src="../../../assets/images/icons/add.svg" />
        <p>Add new</p>
      </a>
    </div>

    <div class="contact" *ngFor="let contact of contacts">
      <div class="icons-wrapper">
        <img
          *ngIf="!contact.favorite"
          src="../../../assets/images/icons/heart_empty.svg"
          (click)="markAsFavorite(contact.id, true)"
        />
        <img
          *ngIf="contact.favorite"
          src="../../../assets/images/icons/heart_full.svg"
          (click)="markAsFavorite(contact.id, false)"
        />
        <a class="edit" [routerLink]="['edit/' + contact.id]">
          <img src="../../../assets/images/icons/edit.svg" />
        </a>
        <img
          src="../../../assets/images/icons/delete.svg"
          (click)="deleteContactId = contact.id"
        />
      </div>

      <a class="image-name" [routerLink]="['detail/' + contact.id]">
        <img [src]="contact.headerImage" />
        <p>{{ contact.name }}</p>
      </a>
    </div>
  </div>
</ng-container>
