<app-spinner></app-spinner>
<app-error></app-error>

<div class="menu">
  <a [routerLink]="['/']">
    {{ "app_title" | translate }}
  </a>
  <div class="menu__language-selection">
    <button
      (click)="setLanguage('en')"
      [ngClass]="{ selected: translateService.currentLang === 'en' }"
    >
      EN
    </button>
    <button
      (click)="setLanguage('hr')"
      [ngClass]="{ selected: translateService.currentLang === 'hr' }"
    >
      HR
    </button>
  </div>
</div>

<div class="content">
  <router-outlet> </router-outlet>
</div>
