@import 'variables.scss';

* {
  padding: 0;
  margin: 0;
}

html, body {
  font-family: Lato;

  @media (min-width: $xs) {
    font-size: 14px;
  }

  @media (min-width: $md) {
    font-size: 18px;
  }

  position: relative;
  height: 100%;
}