$xs: 375px;
$sm: 768px;
$md: 991px;
$lg: 1200px;

$font-family-lato: Lato;

$black: #000000;
$white: #ffffff;
$grey_1: #eaeaea;
$grey_2: #e3e3e3;
$grey_3: #bbc4c3;

$green_1: #78c9ce;
$green_2: #2da1ad;
$green_3: #2496a2;

$black_opacity_1: rgba(0, 0, 0, 0.2);
$black_opacity_2: rgba(187, 196, 195, 0.4);
$black_opacity_3: rgba(187, 196, 195, 0.3);

$red: #c54e3e;
